openapi: 3.1.0

info:
  title: Cina AI API
  version: 1.0.0
  description: |
    Cina AI is a developer-focused AI API platform.

    This OpenAPI specification describes the initial Cina AI API.
    The platform is currently under development, and production
    infrastructure and endpoint availability may change before launch.

servers:
  - url: https://api.cina.ai/v1
    description: Cina AI API

security:
  - bearerAuth: []

tags:
  - name: Models
    description: Available Cina AI models
  - name: Chat
    description: Conversational AI generation
  - name: Generate
    description: Text generation
  - name: Usage
    description: API usage information

paths:
  /models:
    get:
      tags:
        - Models
      summary: List available models
      operationId: listModels
      security: []
      responses:
        "200":
          description: Available models
          content:
            application/json:
              schema:
                type: object
                required:
                  - object
                  - data
                properties:
                  object:
                    type: string
                    example: list
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/Model"

        "500":
          $ref: "#/components/responses/InternalError"

  /chat:
    post:
      tags:
        - Chat
      summary: Create a chat completion
      operationId: createChatCompletion
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ChatRequest"
            example:
              model: cina-1
              messages:
                - role: user
                  content: Hello, what can you do?
              temperature: 0.7
              max_tokens: 500
              stream: false

      responses:
        "200":
          description: Chat completion
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ChatResponse"

        "400":
          $ref: "#/components/responses/BadRequest"

        "401":
          $ref: "#/components/responses/Unauthorized"

        "404":
          $ref: "#/components/responses/NotFound"

        "429":
          $ref: "#/components/responses/RateLimited"

        "500":
          $ref: "#/components/responses/InternalError"

  /generate:
    post:
      tags:
        - Generate
      summary: Generate text from a prompt
      operationId: generateText
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GenerateRequest"
            example:
              model: cina-1
              prompt: Write a short introduction about Afghanistan.
              temperature: 0.7
              max_tokens: 300

      responses:
        "200":
          description: Generated text
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenerateResponse"

        "400":
          $ref: "#/components/responses/BadRequest"

        "401":
          $ref: "#/components/responses/Unauthorized"

        "404":
          $ref: "#/components/responses/NotFound"

        "429":
          $ref: "#/components/responses/RateLimited"

        "500":
          $ref: "#/components/responses/InternalError"

  /usage:
    get:
      tags:
        - Usage
      summary: Get API usage
      operationId: getUsage
      parameters:
        - name: period
          in: query
          required: false
          description: Usage period
          schema:
            type: string
            enum:
              - 7d
              - 30d
              - 90d
            default: 7d

      responses:
        "200":
          description: Usage statistics
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UsageResponse"

        "401":
          $ref: "#/components/responses/Unauthorized"

        "500":
          $ref: "#/components/responses/InternalError"

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: CinaAPIKey
      description: |
        Use your Cina AI API key as a Bearer token.

        Example:
        Authorization: Bearer fc_live_your_key

  schemas:
    Model:
      type: object
      required:
        - id
        - object
        - name
        - description
        - status
        - capabilities
        - context_length
      properties:
        id:
          type: string
          example: cina-1
        object:
          type: string
          example: model
        name:
          type: string
          example: Cina 1
        description:
          type: string
          example: General-purpose Cina AI model.
        status:
          type: string
          enum:
            - available
            - coming_soon
            - deprecated
          example: available
        capabilities:
          type: array
          items:
            type: string
          example:
            - chat
            - generate
        context_length:
          type: integer
          example: 8192

    Message:
      type: object
      required:
        - role
        - content
      properties:
        role:
          type: string
          enum:
            - system
            - user
            - assistant
        content:
          type: string
          minLength: 1

    ChatRequest:
      type: object
      required:
        - model
        - messages
      properties:
        model:
          type: string
          example: cina-1
        messages:
          type: array
          minItems: 1
          items:
            $ref: "#/components/schemas/Message"
        temperature:
          type: number
          minimum: 0
          maximum: 2
          default: 0.7
        max_tokens:
          type: integer
          minimum: 1
          maximum: 8192
        stream:
          type: boolean
          default: false

    ChatResponse:
      type: object
      required:
        - id
        - object
        - created
        - model
        - choices
        - usage
      properties:
        id:
          type: string
          example: chatcmpl_fc_01HXYZ123
        object:
          type: string
          example: chat.completion
        created:
          type: integer
          description: Unix timestamp.
          example: 1790935200
        model:
          type: string
          example: cina-1
        choices:
          type: array
          items:
            type: object
            required:
              - index
              - message
              - finish_reason
            properties:
              index:
                type: integer
                example: 0
              message:
                $ref: "#/components/schemas/Message"
              finish_reason:
                type: string
                enum:
                  - stop
                  - length
                  - error
                example: stop
        usage:
          $ref: "#/components/schemas/Usage"

    GenerateRequest:
      type: object
      required:
        - model
        - prompt
      properties:
        model:
          type: string
          example: cina-1
        prompt:
          type: string
          minLength: 1
        temperature:
          type: number
          minimum: 0
          maximum: 2
          default: 0.7
        max_tokens:
          type: integer
          minimum: 1
          maximum: 8192

    GenerateResponse:
      type: object
      required:
        - id
        - object
        - created
        - model
        - output
        - usage
      properties:
        id:
          type: string
          example: gen_fc_01HXYZ123
        object:
          type: string
          example: text.generation
        created:
          type: integer
          example: 1790935200
        model:
          type: string
          example: cina-1
        output:
          type: string
          example: Afghanistan is a country in Central and South Asia...
        usage:
          $ref: "#/components/schemas/Usage"

    Usage:
      type: object
      required:
        - input_tokens
        - output_tokens
        - total_tokens
      properties:
        input_tokens:
          type: integer
          minimum: 0
          example: 24
        output_tokens:
          type: integer
          minimum: 0
          example: 86
        total_tokens:
          type: integer
          minimum: 0
          example: 110

    UsageResponse:
      type: object
      required:
        - period
        - requests
        - input_tokens
        - output_tokens
        - total_tokens
      properties:
        period:
          type: string
          enum:
            - 7d
            - 30d
            - 90d
          example: 7d
        requests:
          type: integer
          minimum: 0
          example: 142
        input_tokens:
          type: integer
          minimum: 0
          example: 3820
        output_tokens:
          type: integer
          minimum: 0
          example: 7410
        total_tokens:
          type: integer
          minimum: 0
          example: 11230

    Error:
      type: object
      required:
        - error
      properties:
        error:
          type: object
          required:
            - type
            - message
            - code
            - request_id
          properties:
            type:
              type: string
              example: authentication_error
            message:
              type: string
              example: Invalid API key.
            code:
              type: string
              example: invalid_api_key
            request_id:
              type: string
              example: req_fc_01HXYZ123

  responses:
    BadRequest:
      description: Invalid request
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"

    Unauthorized:
      description: Missing or invalid API key
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"

    NotFound:
      description: Resource or model not found
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"

    RateLimited:
      description: Rate limit exceeded
      headers:
        Retry-After:
          description: Number of seconds before retrying.
          schema:
            type: integer
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"

    InternalError:
      description: Internal server error
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
